ion-grid {
  background: #043034;
}

h2,h3,p, ion-title {
  font-family: 'Poppins', sans-serif;
}

.block {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

ion-modal {
  --height: auto;
}