<ion-content class="ion-padding">
  <app-menu></app-menu>

  <!-- TERCEIRA SIMULAÇÃO -->
  <div class="divSimulation3" id="simu3">
    <div class="container-fluid pt-4">
      <h2 class="text-center fw-bold mt-4">Saídas</h2>
      <h3 class="text-center m-0 fw-bolder">Despesas essenciais</h3>
      <p class="text-center text-secondary">(Presente)</p>
    </div>

    <form #d="ngForm" (ngSubmit)="despesas(d)">

      <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">


        <div class="input-group mb-3">
          <span class="input-group-text border-0 border-2 border-bottom">Nome</span>
          <input #customInput name="nome" (input)="formatarEntrada(customInput)" label="Nome:" placeholder="Aluguel"
            (keydown)="checkInput($event)" minlength="2" [(ngModel)]="nome"
            class="form-control border-0 border-2 border-bottom w-75" required>

          <ion-row>
            <ion-col *ngIf="(d.controls['nome']?.invalid && d.controls['nome']?.touched)
              || d.controls['nome']?.dirty" class="p-0 text-start">

              <span class="erro_txt" *ngIf="d.controls['nome']?.errors?.['required'] && !inputCheck">
                Campo nome precisa ser preenchido!
              </span>

              <span class="erro_txt" *ngIf="d.controls['nome']?.errors?.['minlength']">
                Nome precisa no mínimo de 2 caracteres!
              </span>

            </ion-col>

          </ion-row>

        </div>


        <div class="input-group mb-3">
          <span class="input-group-text border-0 border-2 border-bottom">Valor</span>
          <input #customInput type="tel" [(ngModel)]="valor" name="valor" (ngModelChange)="formatarInput()"
            class="form-control border-0 border-2 border-bottom  w-75" required placeholder="1.500,00">

          <ion-row>
            <ion-col *ngIf="(d.controls['valor']?.invalid && d.controls['valor']?.touched)
              || d.controls['valor']?.dirty" class="p-0 text-start">

              <span class="erro_txt" *ngIf="d.controls['valor']?.errors?.['required'] && !inputCheck">
                Campo valor precisa ser preenchido!
              </span>

            </ion-col>

          </ion-row>

        </div>

        <div class="d-grid gap-2 col-10 mx-auto position-relative">
          <button
            [disabled]="(d.controls['valor'] && d.controls['valor'].invalid) || d.controls['valor'] && d.controls['nome'].invalid"
            class="btn btn-primary p-2">
            <h3 class="m-0">Confirmar</h3>
          </button>
        </div>
      </div>

    </form>

    <div class="container-fluid d-flex align-items-center justify-content-end p-0 position-relative">
      <ion-row>
        <ion-col>
          <div class="container-fluid d-flex align-items-center justify-content-end position-relative">
            <button (click)="next('divSimulation3')" class="bg-transparent d-flex align-items-center"
              [disabled]="saidas.length === 0">
              <span class="pe-2">Próximo</span>
              <ion-icon class="fs-1" name="arrow-forward"></ion-icon>
            </button>
          </div>
        </ion-col>
      </ion-row>
    </div>


    <div class="container-fluid my-3 mb-3">
      <h3 class="m-0 text-start">Lista de saídas</h3>
    </div>

    <div *ngIf="saidas.length !== 0">
      <ion-card *ngFor="let dados of saidas; index as id" class="mb-2 text-dark fw-normal">
        <ion-grid>
          <ion-row>
            <ion-col size="6" size-md="4" size-lg="2" class="d-flex flex-column fs-6">
              <ion-label>{{dados.nome}}</ion-label>
              <span>{{dados.valor}}</span>
            </ion-col>
            <ion-col size="6" size-md="4" size-lg="2" class="d-flex justify-content-end gap-2 align-items-center fs-1">

              <ion-icon class="text-success" [id]="id" name="create-outline"></ion-icon>
              <!-- Modal de update -->
              <ion-modal #modal [trigger]="id">
                <ng-template>
                  <ion-header>
                    <ion-toolbar class="headerUpdate">
                      <ion-buttons slot="start">
                        <ion-icon class="fs-1 ps-2 text-light" name="arrow-back-outline"
                          (click)="close(modal, id)"></ion-icon>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">

                    <div>

                      <h2 class="text-center fw-bold">Editar</h2>

                      <div class="input-group mb-3">
                        <span class="input-group-text border-0 border-2 border-bottom">Nome</span>
                        <input #customInput name="nome" (input)="formatarEntrada(customInput)" label="Nome:"
                          placeholder="Aluguel" (keydown)="checkInput($event)" minlength="2" [(ngModel)]="dados.nome"
                          class="form-control border-0 border-2 border-bottom w-75" required>

                        <span class="erro_txt" *ngIf="inputNomeUpdateVazio">
                          Campo nome precisa ser preenchido
                        </span>
                        <span class="erro_txt" *ngIf="inputNomeUpdateMin">
                          Nome precisa no mínimo de 2 caracteres!
                        </span>

                      </div>


                      <div class="input-group mb-3">

                        <span class="input-group-text border-0 border-2 border-bottom">Valor</span>
                        <input type="tel" (input)="formatarInputValor(id)" [(ngModel)]="dados.valor" name="valor"
                          class="form-control border-0 border-2 border-bottom  w-75" required placeholder="1.500,00">

                        <span class="erro_txt" *ngIf="inputValorUpdateVazio">
                          Campo valor precisa ser preenchido
                        </span>
                      </div>

                      <div class="d-grid gap-2 col-10 mx-auto position-relative">
                        <button [disabled]="inputNomeUpdateVazio || inputNomeUpdateMin || inputValorUpdateVazio"
                          (click)="confirmar(modal, id)" class="btn btn-primary p-2">
                          <h3 class="m-0">Confirmar</h3>
                        </button>
                      </div>

                    </div>



                  </ion-content>
                </ng-template>
              </ion-modal>


              <ion-icon class="text-danger" name="trash-outline"></ion-icon>
            </ion-col>
          </ion-row>

        </ion-grid>
      </ion-card>
    </div>

    <div *ngIf="saidas.length === 0" class="text-secondary text-center">
      <ion-label>Lista de saídas: vazia </ion-label>
    </div>



  </div>


  <!-- QUARTA SIMULAÇÃO -->
  <div class="divSimulation4 ocutando" id="simu4">

    <div class="container-fluid pt-4">
      <h2 class="text-start fw-bold mt-4">Educação</h2>
      <p class="text-center">Você tem investido em seus conhecimentos?</p>
    </div>


    <div class="container-fluid p-0 py-4 d-flex align-items-center  justify-content-center flex-column">

      <ion-list>
        <ion-item>
          <ion-input label="Nome:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Valor:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
      </ion-list>

      <div class="d-grid gap-2 col-10 mx-auto position-relative">
        <button class="btn btn-primary p-2" type="button">
          <h3 class="m-0">Confirmar</h3>
        </button>
      </div>

      <div class="container-fluid d-flex align-items-center mt-4 p-0 justify-content-between position-relative">
        <figure>
          <img (click)="last('divSimulation4')" src="./../../../assets/Icons/Back.png" alt="BtnBack">
        </figure>

        <figure>
          <img (click)="next('divSimulation4')" src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
        </figure>
      </div>


      <div class="container-fluid my-3 mb-3">
        <h3 class="m-0 text-start">Lista de saídas</h3>
      </div>
      <ion-list class="w-100">
        <ion-reorder-group [disabled]="false">
          <ion-item>
            <ion-label> Investimento </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="eye-sharp"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 2 </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>

    </div>
  </div>

  <!-- QUINTA SIMULAÇÃO -->
  <div class="divSimulation5 ocutando" id="simu5">
    <div class="container-fluid pt-4">
      <h2 class="text-center fw-bold mt-4">Investimentos</h2>
      <h3 class="text-center m-0 fw-bolder">Poupar/Investir</h3>
      <p class="text-center text-secondary">(Futuro)</p>
    </div>

    <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">

      <ion-list>
        <ion-item>
          <ion-input label="Nome:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Valor:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
      </ion-list>

      <div class="d-grid gap-2 col-10 mx-auto position-relative">
        <button class="btn btn-primary p-2" type="button">
          <h3 class="m-0">Confirmar</h3>
        </button>
      </div>

      <div class="container-fluid d-flex align-items-center p-0 mt-4 justify-content-between position-relative">
        <figure>
          <img (click)="last('divSimulation5')" src="./../../../assets/Icons/Back.png" alt="BtnBack">
        </figure>

        <figure>
          <img (click)="next('divSimulation5')" src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
        </figure>
      </div>

      <div class="container-fluid my-3 mb-3">
        <h3 class="m-0 text-start">Lista de saídas</h3>
      </div>
      <ion-list class="w-100">
        <ion-reorder-group [disabled]="false">
          <ion-item>
            <ion-label> Investimento </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="eye-sharp"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 2 </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>

    </div>
  </div>

  <!-- SEXTA SIMULAÇÃO -->
  <div class="divSimulation6 ocutando" id="simu6">

    <div class="container-fluid pt-4">
      <h2 class="text-start fw-bold mt-4">Gastos pessoais</h2>
      <p class="text-center">Você também tem direito de pensar e em gastar com você </p>
    </div>


    <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">

      <ion-list>
        <ion-item>
          <ion-input label="Nome:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Valor:" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
      </ion-list>

      <div class="d-grid gap-2 col-10 mx-auto position-relative">
        <button class="btn btn-primary p-2" type="button">
          <h3 class="m-0">Confirmar</h3>
        </button>
      </div>

      <div class="container-fluid d-flex align-items-center p-0 mt-4 justify-content-between position-relative">

        <figure>
          <img (click)="last('divSimulation6')" src="./../../../assets/Icons/Back.png" alt="BtnBack">
        </figure>

        <figure>
          <img src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
        </figure>
      </div>


      <div class="container-fluid my-3 mb-3">
        <h3 class="m-0 text-start">Lista de saídas</h3>
      </div>
      <ion-list class="w-100">
        <ion-reorder-group [disabled]="false">
          <ion-item>
            <ion-label> Investimento </ion-label>
            <ion-reorder slot="end">
              <ion-icon name="eye-sharp"></ion-icon>
            </ion-reorder>
          </ion-item>

          <ion-item>
            <ion-label> Item 2 </ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>

    </div>
  </div>




</ion-content>