ion-title,
h2,
h3,
p,
span,
ion-input,
ion-label {
  font-family: "Poppins", sans-serif;
}

.ocutando {
  display: none;
}

.erro_txt {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

  color: #ed6a6a;
}

.span {
  background-color: #043034;
}
