<ion-content class="ion-padding">
  <app-menu></app-menu>
  <!-- PRIMEIRA SIMULAÇÃO -->
  <div class="divSimulation1" id="simu1">

    <div class="container-fluid pt-4 px-0">
      <h2 class="text-start fw-bold mt-4">Quem é você?</h2>
      <p class="text-center">Vamos começar com o seu nome, o que acha?</p>
    </div>

    <div class="container-fluid p-0">

      <form #f="ngForm" (ngSubmit)="cadastrar(f)">

        <ion-grid class="p-0">
          <ion-row>

            <ion-col class="p-0">

              <ion-input #customInput class="p-0 border-bottom" id="custom-input" name="nome" placeholder="Ex: João"
                label="Primeiro Nome:" (input)="formatarEntrada(customInput)"
                (keydown)="checkInput($event)" [(ngModel)]="firstName"
                labelPlacement="floating" minlength="2" required maxlength="15">
              </ion-input>

            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col *ngIf="(f.controls['nome']?.invalid && f.controls['nome']?.touched)
            || f.controls['nome']?.dirty" class="p-0 text-start">

              <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['required']">
                Campo nome precisa ser preenchido!
              </span>

              <span class="erro_txt" *ngIf="f.controls['nome']?.errors?.['minlength']">
                Nome precisa no mínimo de 2 caracteres!
              </span>

            </ion-col>

          </ion-row>

          <ion-row>
            <ion-col>
              <div class="container-fluid d-flex align-items-center justify-content-end position-relative">
                <button class="bg-transparent d-flex align-items-center" (click)="nextPage('divSimulation1')"
                  [disabled]="f.controls['nome'] && f.controls['nome'].invalid">
                  <span class="pe-2" *ngIf="f.controls['nome'] && f.controls['nome']">Próximo</span>
                  <ion-icon class="fs-1" name="arrow-forward"></ion-icon>
                </button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>

      </form>
    </div>



    <div class="container-fluid d-flex align-items-center justify-content-center">
      <figure class="m-0">
        <img src="../../../assets/imgs/imgSimu1.png" alt="simulation1">
      </figure>
    </div>

  </div>

  <!-- SEGUNDO SIMULAÇÃO -->

  <div class="divSimulation2 ocutando" id="simu2">

    <div class="container-fluid pt-4">
      <h2 class="text-start fw-bold mt-4">Entradas</h2>
      <p class="text-start m-0"><b>1 -</b> Digite suas entradas mensais</p>
      <p class="text-start"><b>2 -</b>Salário, renda extra e todos os seus ganhos mensais</p>
    </div>

    <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">

      <form #e="ngForm" (ngSubmit)="entradas(e)">


        <div class="input-group mb-3">
          <span class="input-group-text border-0 border-2 border-bottom">Salário</span>
          <input type="tel"  mask="separator.2" thousandSeparator="." [(ngModel)]="salario" name="salario" (keydown)="checkValueInput($event)"
            class="form-control border-0 border-2 border-bottom" required placeholder="1.500,00">


          <ion-row>
            <ion-col *ngIf="(e.controls['salario']?.invalid && e.controls['salario']?.touched)
              || e.controls['salario']?.dirty" class="px-1 p-0 text-center">

              <span class="erro_txt" *ngIf="e.controls['salario']?.errors?.['required']">
                Campo salário precisa ser preenchido!
              </span>

            </ion-col>
          </ion-row>
        </div>


        <div class="input-group mb-3">
          <span class="input-group-text border-0 border-2 border-bottom">Outras rendas</span>
          <input type="tel"  mask="separator.2" thousandSeparator="." 
          [(ngModel)]="extra" name="extra"
          class="form-control border-0 border-2 border-bottom"
          (keydown)="checkValueInput($event)" placeholder="1.500,00">
        </div>



        <div class="d-grid gap-2 col-10 mx-auto position-relative">
          <button [disabled]="e.controls['salario'] && e.controls['salario'].invalid"
           class="btn btn-primary p-2" type="button">
            <h3 class="m-0" (click)="countEnter()">Confirmar</h3>
          </button>
        </div>



      </form>



      <div class="d-grid gap-2 col-12 mx-auto">
        <ion-accordion-group class="mt-4 mx-0" expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="primary">
              <ion-label>Como funciona <b>"Outras rendas"</b></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Coloque em <b>“Outras rendas”</b> o total de todas as suas rendas extras mensais juntas.</p>
              <p class="m-0"><b>Exemplo:</b></p>
              <p>Todo mês você ganha R$:50,00 de uma renda, mais R$:40,00 de outra renda, fazendo a soma dará R$90,00
                este
                é o valor que você deve colocar em
                <b>“outras rendas”</b>
              </p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>

    </div>

  </div>


</ion-content>