<ion-content class="ion-padding">
  <app-menu></app-menu>
  <!-- PRIMEIRA SIMULAÇÃO -->
  <div class="divSimulation1" id="simu1">

    <div class="container-fluid pt-4 px-0">
      <h2 class="text-start fw-bold mt-4">Quem é você?</h2>
      <p class="text-center">Vamos começar com o seu nome, o que acha?</p>
    </div>

    <div class="container-fluid">
      <ion-input id="custom-input" placeholder="Ex: João" label="Primeiro Nome:" labelPlacement="floating"
        [counter]="true" maxlength="25" [counterFormatter]="customCounterFormatter"></ion-input>
    </div>

    <div class="container-fluid d-flex align-items-center justify-content-end position-relative">
      <figure>
        <img (click)="nextPage('divSimulation1')" src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
      </figure>
    </div>

    <div class="container-fluid d-flex align-items-center justify-content-center">
      <figure class="m-0">
        <img src="../../../assets/imgs/imgSimu1.png" alt="simulation1">
      </figure>
    </div>

  </div>

  <!-- SEGUNDO SIMULAÇÃO -->

  <div class="divSimulation2 ocutando">

    <div class="container-fluid pt-4">
      <h2 class="text-start fw-bold mt-4">Entradas</h2>
      <p class="text-start m-0"><b>1 -</b> Digite suas entradas mensais</p>
      <p class="text-start"><b>2 -</b>Salário, renda extra e todos os seus ganhos mensais</p>
    </div>

    <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">
      <ion-list>
        <ion-item>
          <ion-input label="Salário" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Outras rendas" placeholder="R$:1.500,00"></ion-input>
        </ion-item>
      </ion-list>

      <div class="d-grid gap-2 col-10 mx-auto position-relative">
        <button class="btn btn-primary p-2" type="button">
          <h3 (click)="nextPageStart()" class="m-0">Confirmar</h3>
        </button>
      </div>

      <div class="d-grid gap-2 col-12 mx-auto">
        <ion-accordion-group class="mt-4 mx-0" expand="inset">
          <ion-accordion value="first">
            <ion-item slot="header" color="primary">
              <ion-label>Como funciona <b>"Outras rendas"</b></ion-label>
            </ion-item>
            <div class="ion-padding" slot="content">
              <p>Coloque em <b>“Outras rendas”</b> o total de todas as suas rendas extras mensais juntas.</p>
              <p class="m-0"><b>Exemplo:</b></p>
              <p>Todo mês você ganha R$:50,00 de uma renda, mais R$:40,00 de outra renda, fazendo a soma dará R$90,00
                este
                é o valor que você deve colocar em
                <b>“outras rendas”</b>
              </p>
            </div>
          </ion-accordion>
        </ion-accordion-group>
      </div>



    </div>



  </div>

  <!-- TERCEIRA SIMULAÇÃO -->
  <!-- <div class="container-fluid pt-4">
    <h2 class="text-center fw-bold mt-4">Saídas</h2>
    <h3 class="text-center m-0 fw-bolder">Despesas essenciais</h3>
    <p class="text-center text-secondary">(Presente)</p>
  </div>

  <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">

    <ion-list>
      <ion-item>
        <ion-input label="Nome:" placeholder="R$:1.500,00"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Valor:" placeholder="R$:1.500,00"></ion-input>
      </ion-item>
    </ion-list>

    <div class="d-grid gap-2 col-10 mx-auto">
      <button class="btn btn-primary p-2" type="button">
        <h3 class="m-0">Confirmar</h3>
      </button>
    </div>

    <div class="container-fluid d-flex align-items-center mt-4 justify-content-end">
      <figure>
        <img src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
      </figure>
    </div>

    <div class="container-fluid my-3 mb-3">
      <h3 class="m-0 text-start">Lista de saídas</h3>
    </div>
    <ion-list class="w-100">
      <ion-reorder-group [disabled]="false">
        <ion-item>
          <ion-label> Investimento </ion-label>
          <ion-reorder slot="end">
            <ion-icon name="eye-sharp"></ion-icon>
          </ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label> Item 2 </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>

  </div> -->


  <!-- QUARTA SIMULAÇÃO -->
  <!-- 
  <div class="container-fluid pt-4">
    <h2 class="text-start fw-bold mt-4">Educação</h2>
    <p class="text-center">Você tem investido em seus conhecimentos?</p>
  </div>


  <div class="container-fluid p-0 py-4 d-flex align-items-center justify-content-center flex-column">

    <ion-list>
      <ion-item>
        <ion-input label="Nome:" placeholder="R$:1.500,00"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input label="Valor:" placeholder="R$:1.500,00"></ion-input>
      </ion-item>
    </ion-list>

    <div class="d-grid gap-2 col-10 mx-auto">
      <button class="btn btn-primary p-2" type="button">
        <h3 class="m-0">Confirmar</h3>
      </button>
    </div>

    <div class="container-fluid d-flex align-items-center mt-4 justify-content-end">
      <figure>
        <img src="./../../../assets/Icons/Nextpage.png" alt="BtnSend">
      </figure>
    </div>


    <div class="container-fluid my-3 mb-3">
      <h3 class="m-0 text-start">Lista de saídas</h3>
    </div>
    <ion-list class="w-100">
      <ion-reorder-group [disabled]="false">
        <ion-item>
          <ion-label> Investimento </ion-label>
          <ion-reorder slot="end">
            <ion-icon name="eye-sharp"></ion-icon>
          </ion-reorder>
        </ion-item>

        <ion-item>
          <ion-label> Item 2 </ion-label>
          <ion-reorder slot="end"></ion-reorder>
        </ion-item>
      </ion-reorder-group>
    </ion-list>

  </div> -->

  <!-- QUINTA SIMULAÇÃO -->
  <!-- 
  <div class="container-fluid pt-4">
    <h2 class="text-center fw-bold mt-4">Investimento</h2>
    <h3 class="text-center m-0 fw-bolder">Despesas essenciais</h3>
    <p class="text-center text-secondary">(Presente)</p>
  </div> -->



</ion-content>