<ion-content>
  <div class="container-fluid d-flex align-items-center justify-content-center">
    <img src="./../../../assets/Icons/OnlyLogo__1_-removebg-preview 1.png" alt="BtnSend">
  </div>
  <div class="container-fluid pt-1 px-0">
    <h2 class="text-center fw-bold">[Nome do Usuário]</h2>
    <p class="text-center">
      Com base no seus ganhos mensais vamos aplicar o método 70/30 para você ter uma noção do quanto você deve gastar
      mensalmente.
    </p>
  </div>

  <ion-list class="w-100">
    <ion-reorder-group [disabled]="false">
      <ion-item>
        <ion-label> Renda mensal </ion-label>
        <ion-label> R$: 4.000 </ion-label>
        <ion-reorder slot="end">
          <ion-icon name="eye-sharp"></ion-icon>
        </ion-reorder>
      </ion-item>
    </ion-reorder-group>
  </ion-list>

  <div class="container-fluid">
    <h3 class="text-start fw-bold">Método 70/30</h3>
  </div>

  <ion-card color="primary">
    <p class="text-center mb-1 fs-6">Investimento</p>

    <ion-list class="w-100 p-0">
      <ion-item>
        <ion-label> 30% </ion-label>
        <ion-label class="text-end"> R$: 1.200 </ion-label>
      </ion-item>
    </ion-list>

    <p class="text-center mb-1 fs-6">Despesas essenciais</p>

    <ion-list class="w-100 p-0">
      <ion-item>
        <ion-label> 55% </ion-label>
        <ion-label class="text-end"> R$: 2.200 </ion-label>
      </ion-item>
    </ion-list>


    <p class="text-center mb-1 fs-6">Despesas Extras</p>

    <ion-list class="w-100 p-0">
      <ion-item>
        <ion-label> 10% </ion-label>
        <ion-label class="text-end"> R$: 400</ion-label>
      </ion-item>
    </ion-list>

    <p class="text-center mb-1 fs-6">Educação</p>

    <ion-list class="w-100 p-0">
      <ion-item>
        <ion-label> 5% </ion-label>
        <ion-label class="text-end"> R$: 200</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>

  <div class="container-fluid d-flex align-items-center justify-content-end">
    <figure>
      <a (click)="nextPage()"><img src="./../../../assets/Icons/Nextpage.png" alt="BtnSend"></a>
    </figure>
  </div>
</ion-content>