.gridInfo{
  background: rgb(219, 219, 219);
}
ion-col {
  background: white;
}
.divInfo1, .divInfo2, .divInfo3, .divInfo4{
  border-radius: 8%;
}

h1,p {
  font-family: 'Poppins', sans-serif;
}

.ocutando{
  display: none !important;
}